<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular MVVM模式的简单实现_封装指令</title>
</head>
<body onload="init()">
<h3>第一个scope</h3>
<div ng-scope>
  <p>绑定测试： <span ng-bind="test"></span></p>
  <p>依赖数据测试： <span ng-bind="dependence"></span></p>
  <input type="text" ng-model="test" value=""/>
  <button ng-click="resetdata()">重置数据</button>
</div>
<br>
<hr>
<h3>第二个scope</h3>
<div ng-scope>
  <p>绑定测试： <span ng-bind="test"></span></p>
  <p>依赖数据测试： <span ng-bind="dependence"></span></p>
  <input type="text" ng-model="test" value=""/>
  <button ng-click="resetdata()">重置数据</button>
</div>

<script>
  function Scope(domEl) {
    this.$scope = {};
    this.dom = domEl || document.body;

    var self = this;
    var bindDom = null;
    var modelDom = null;
    var clickDom = null;

    function declareData() {
      self.$scope.test = 'test';
      self.$scope.resetdata = function () {
        self.$scope.test = 'reset';
      };
    }

    function computeData() {
      self.$scope.dependence = 'dependence: ' + self.$scope.test;
    }

    function init() {
      // watch过程，未做脏检查
      modelDom = self.dom.querySelectorAll('[ng-model]');
      modelDom.forEach(function (el) {
        // ng接管各种用户输入事件来更新绑定数据，然后计算整个模型数据，最后再调用apply去更新视图
        el.addEventListener('keyup', function (event) {
          self.$scope[el.getAttribute('ng-model')] = el.value;
          self.apply();
        });
        // el.addEventListener('keydown', function (e) {});
        // el.addEventListener('change', function (e) {}); ……
      });

      // 绑定用户事件
      clickDom = self.dom.querySelectorAll('[ng-click]');
      clickDom.forEach(function (el) {
        el.addEventListener('click', function (event) {
          self.$scope[el.getAttribute('ng-click').replace('()', '')]();
          self.apply();
        })
      });

      // 指定绑定数据的元素
      bindDom = self.dom.querySelectorAll('[ng-bind]');

      // 初始化数据
      declareData();

      // 应用数据并更新视图
      self.apply();
    }

    this.apply = function () {
      // 计算依赖数据
      computeData();

      // 更新视图
      bindDom.forEach(function (item) {
        item.innerText = self.$scope[item.getAttribute('ng-bind')];
      });
    }

    init();
  }

  function init() {
    var scopes = document.querySelectorAll('[ng-scope]');
    scopes.forEach(function (el) {
      new Scope(el);
    })
  }
</script>
</body>
</html>