<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue MVVM模式的简单实现_原始版</title>
  <script src="lib/Observer.js"></script>
  <script src="lib/Compiler.js"></script>
  <script src="lib/Watcher.js"></script>
  <script src="lib/dependence.js"></script>
  <script src="lib/MVVM.js"></script>
</head>
<body>
<div id="app">
  <h3 class="cls" v-bind:id="name">{{ title }}</h3>
  <p>{{"This is expression: "+ title }}, {{ name }}</p>
  <p>Computed: {{computedData}}： <span v-html="test"></span></span></p>
  <h3>v-for</h3>
  <ul>
    <li v-for="item in items">
      Parent.name: {{name}}; item: {{item.id}} - {{item.text}}
    </li>
  </ul>
  <h3>model & event</h3>
  <input v-model="name">
  <input type="button" value="测试" v-on:click="resetInput">
</div>

<script>
  var vm = new MVVM({
    el      : '#app',
    data    : {
      name : 'Vue',
      title: 'Hello',
      test : '\<button\>按钮\<\/button\>',
      items: [
        {id: '10000', text: 'item_start'},
        {id: '10001', text: 'item_10001'},
        {id: '10002', text: 'item_end'}
      ],
    },
    computed: {
      computedData: function () {
        return this.title + ', ' + this.name;
      },
    },
    methods : {
      resetInput: function () {
        this.name = 'reset input';
        this.test = '\<input type="date"\>';
        this.items[1].text = 'changed text';
      }
    }
  });
</script>
</body>
</html>